/*global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}

/*header*/
nav{
    background-color: blueviolet;
    color: aqua;
    height: 20vh;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 2rem;
}
h2{
    text-align: center;
    margin: 1rem;
}
/*register form*/
.register-form{
    background-color: aquamarine;
    width: 50%;
    margin: 1rem;
    border-radius: 5px;
}
.input-control{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    align-items: center;
}
.input-control input,
.input-control select{
    width: 80%;
    padding: 3px;
    border:none;
}
.input-control label{
    display: block;
    width: 20%;
    text-align: left;
    margin-right: 10px;
}
.btn-container{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}
.btn-register{
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
/* display */
.card {
    background: lightgray;
    border: 1px solid black;
    margin-bottom: 10px;
}
